h1 {
  font-size: 50px;
  color:white;
  font-weight: Normal;
}

h2{
  color:white;
  font-size:42px;
  font-weight:300;
}

h3 {
  color:aquamarine;
  font-size:16x;
  font-style: underline;
}

p{
  color:gray;
  font-size: 21px;
}

html{
  background-color: black;
  text-align: center;
  font-family:Verdana;
}
